<div class="chat-container">
  <div class="chat-header">
    <h1>
      <%= project.name %>
    </h1>
  </div>
  <div class="chat-conversations" id="messages" data-chatroom-id="<%= chatroom.id %>">
    <% chatroom.messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>
  <div class="chat-input">
    <%= simple_form_for [ project, chatroom, message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Type your message here..." %>
    <% end %>
  </div>
</div>
