<div class="card-product my-5 d-flex flex-row justify-content-around">
  <div class="card-logo">
    <%= image_tag project.charity.logo %>
  </div>
  <div class="card-product-infos">
    <div class="d-flex flex-row justify-content-between">
      <h2>
        <%= project.name %>
      </h2>
      <%= link_to favorite_project_path(project) do %>
        <% if current_user.company.favorited?(project) && current_user.admin %>
          <i class="fas fa-star"></i>
        <% elsif current_user.admin %>
          <i class="far fa-star"></i>
        <% end %>
      <% end %>
    </div>
    <p class="card-description">
      <%= project.description %>
    </p>
    <%= link_to "En savoir plus", project_path(project), class: "text-secondary" %>
  </div>
  <div class="card-tags">
    <p>Compétences</p>
    <div class="d-flex flex-row">
      <% project.tag_list.first(3).each do |tag| %>
        <span class="badge">
          <%= link_to tag.capitalize, tagged_path(tag: tag) %>
        </span>
      <% end %>
    </div>
  </div>
</div>
