<% unless current_user.nil? %>
  <div id="sidebar">
    <div id="sidebar-container">


      <div class="d-flex flex-column align-items-center">
        <div class="logosb mt-3">
          <%= link_to current_user.company.name.upcase, root_path %>
        </div>
        <%= image_tag current_user.avatar_url, class: "avatar-sidebar my-2", alt: "avatar" %>
        <% if current_user.admin? %>
          <p><%= current_user.first_name %></p>
            <%= link_to 'Dashboard', dashboard_path, class:"btn btn-dashboard mb-4" %>
        <% end %>
      </div>

    <div class="d-flex justify-content-center">
      <%= image_tag current_user.avatar_url, id: "avatar" %>
    </div>

    <div class="fname d-flex justify-content-center">
      <p><%= current_user.first_name%></p>
    </div>
     <div class="fname d-flex justify-content-center">
      <p>-<%= current_user.job%>-</p>
    </div>


      <ul class="sidebar-brand">
        <li>
          <i class="icons pr-3 fa fa-list" aria-hidden="true"></i>
          <%= link_to 'Tous les projets', projects_path %>
        </li>
        <% if current_user.admin? %>
          <li>
            <i class="icons pr-3 fa fa-check" aria-hidden="true"></i>
            <%= link_to 'Projets retenus', favorites_path %>
          </li>
        <% else %>
          <li>
            <i class="icons pr-3 fa fa-bookmark-o" aria-hidden="true"></i>
            <%= link_to 'Mes projets', my_projects_path %>
          </li>
        <% end %>
        <% if current_user.admin? %>
          <li>
            <i class="icons pr-3 fa fa-users" aria-hidden="true"></i>
            <%= link_to 'Employés', root_path %>
          </li>
        <% end %>
        <li>
          <i class="icons pr-3 fa fa-ellipsis-h" aria-hidden="true"></i>
          <%= link_to 'Mes documents', root_path %>
        </li>
        <li>
          <% if current_user %>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
          <% else %>
          <%= link_to "Sign in", new_user_session_path %>
          <% end %>
        </li>
      </ul>

    </div>
  </div>



  <div>
    <button type="button" id="sidebarCollapse" class="btn">
      <i class="fas fa-align-left"></i>
    </button>
  </div>
<% end %>

