
<div id="sidebar">
  <div id="container">
    <div id="sidebar-container">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <%= link_to 'Home', root_path %>
        </li>
        <li>
          <%= link_to 'Tous les projets', projects_path %>
        </li>
        <li>
          <%= link_to 'Projets retenus', favorites_path %>
        </li>
        <li>
          <%= link_to 'Employés', root_path %>
        </li>
        <li>
          <%= link_to 'Mes documents', root_path %>
        </li>
      </ul>
    </div>
  </div>
</div>


<div>
  <button type="button" id="sidebarCollapse" class="btn btn-secondary">
    <i class="fas fa-align-left"></i>
  </button>
</div>

