<div class="container">

  <div class="d-flex justify-content-around mt-5">

    <div class="card_view">
      <h2 class="mt-3">L'équipe</h2>
      <hr>
        <% employees.each do |employee| %>
          <div class="d-flex justify-content-start m-4">
            <%= image_tag employee.avatar_url, class: "avatartar mr-3", alt: "avatar" %>
            <div class="mt-2">
              <b><%= "#{employee.first_name} #{employee.last_name}" %></b>
              <p>
                <%= "#{employee.job}" %>
              </p>
             </div>
          </div>
        <% end %>
    </div>

    <div class="card_view">
      <h2 class="mt-3">Prochaine tâche</h2>
      <hr>
          <div class="d-flex justify-content-start m-4">
            <%= image_tag  @user.avatar_url, class: "avatartar mr-3", alt: "avatar" %>
            <div class="d-flex align-items-center">
              <span class="badge-coconut">
                <p>To do</p>
              </span>
              <span class="badge-coconut">
                <p>Urgent</p>
              </span>
            </div>
          </div>
          <hr>

          <div class="d-flex justify-content-center" >
              <p>Nombre de taches restantes</p>
          </div>
            <h2><%= project.nbtaches %></h2>
          <hr>

          <div class="d-flex justify-content-center" >
              <p>Prochaine tache</p>
          </div>
            <h3><%= project.tache %></h3>
          </div>




    <div class="card_view">
      <h2 class="mt-3">Prochain évènement</h2>
      <hr>
      <% project.events.each do |event| %>
      <%= event.title %>
      <% end %>
    </div>

  </div>
</div>
