<div class="container">
  <h2><%= @project.name %> </h2>
  <p><%= @project.description%></p>
  <h3>Skills needed:</h3>
  <ul>
    <% @project.skills.each do |skill| %>
    <li>
      <%= skill.name %>
    </li>
    <% end %>
  </ul>
  <div class="widget-content" data-unavailable="<%= @user.unavailable_dates.to_json %>">
    <%= simple_form_for [@project, @reservation] do |f|%>
    <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker", id: "range_start"} %>
    <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker", id: "range_end"} %>
    <%= f.button :submit, "Réserver", class: "btn btn-outline-dark float-right mt-2" %>
    <% end %>
  </div>

  <%= render 'projects/employees', employees: @employees %>

</div>


