<!DOCTYPE html>
<html>
  <head>

    <title>Coconut</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.0.0/dist/algoliasearch-lite.umd.js" integrity="sha256-MfeKq2Aw9VAkaE9Caes2NOxQf6vUa8Av0JqcUXUGkd0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.0.0/dist/instantsearch.production.min.js" integrity="sha256-6S7q0JJs/Kx4kb/fv0oMjS855QTz5Rc2hh9AkIUjUsk=" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'shared/flashes' %>
      <%# unless current_page?(root_path) %>
        <div class="d-flex">
          <%= render 'shared/sidebar' %>
          <select style="height: 30px; width: 200px;" id="ais-autocomplete"></select>
          <div class="container" id="hits"></div>
          <%= yield %>
        </div>
      <%# else %>
        <%# yield %>
      <%# end %>
  </body>
</html>
